$color-branco: white;

$color-primaria: #3399CC;
$color-secundaria: #333366;
$color-tercearia: #FF6633;
$color-quartenaria: #b1f4ff;

$font-h1: 75px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius:20px;